body {
  margin: 0;
  font-family: "Kanit", sans-serif;
  background-color: #f2f0eb;
}

#main-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 2em;
}
#headline {
  display: flex;
  flex-wrap: nowrap;
}
#headline > p {
  font-size: 6em;
  font-weight: 700;
  margin: 0;
  align-self: flex-end;
}

#grid-container {
  width: 500px;
  height: 500px;
  border: solid 1px black;
  display: flex;
  flex-wrap: wrap;
  background-color: white;
}

#bottom-menu {
  justify-self: flex-end;
  width: 700px;
  height: 15%;
  border: solid black 1px;
  background-color: #f0e2b9;
  border-radius: 6px;
  display: flex;
  margin-top: 2em;
}

#size-change {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
}

#size-change > span {
  font-size: 1.5em;
}
#size-change > button {
  background-color: #f0e2b9;
  border: solid red 2px;
  color: red;
  height: 30%;
  width: 60%;
  font-size: 1em;
}

#mode-change {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
}

#mode-change > span {
  font-size: 1.5em;
}

.mode-change-button > input {
  height: 1em;
  width: 1em;
  margin: 0;
  margin-left: 4px;
  margin-top: 4px;
}

.mode-change-button {
  display: flex;
  justify-content: center;
  align-items: center;
}
